src/main/java/webservice/BookWebService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://webservice" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://webservice" xmlns:intf="http://webservice" xmlns:tns1="http://model" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://model" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://webservice"/>
   <complexType name="Book">
    <sequence>
     <element name="author" nillable="true" type="xsd:string"/>
     <element name="category" nillable="true" type="xsd:string"/>
     <element name="id" nillable="true" type="xsd:string"/>
     <element name="name" nillable="true" type="xsd:string"/>
     <element name="price" type="xsd:double"/>
     <element name="stock" type="xsd:int"/>
    </sequence>
   </complexType>
  </schema>
  <schema elementFormDefault="qualified" targetNamespace="http://webservice" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://model"/>
   <complexType name="ArrayOf_tns1_Book">
    <sequence>
     <element maxOccurs="unbounded" minOccurs="0" name="item" type="tns1:Book"/>
    </sequence>
   </complexType>
   <element name="queryReturn">
    <complexType>
     <sequence>
      <element maxOccurs="unbounded" minOccurs="0" name="item" type="tns1:Book"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="queryResponse">

      <wsdl:part element="impl:queryReturn" name="queryReturn">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="queryRequest">

   </wsdl:message>

   <wsdl:portType name="BookWebService">

      <wsdl:operation name="query">

         <wsdl:input message="impl:queryRequest" name="queryRequest">

       </wsdl:input>

         <wsdl:output message="impl:queryResponse" name="queryResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="BookWebServiceSoapBinding" type="impl:BookWebService">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="query">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="queryRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="queryResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="BookWebServiceService">

      <wsdl:port binding="impl:BookWebServiceSoapBinding" name="BookWebService">

         <wsdlsoap:address location="http://localhost:8080//services/webservice/BookWebService"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
